[init]
	defaultBranch = master
[user]
	name = rjkalhoon
	email = bright.tent3405@electricdreams.cc
	name = ThePrimeagen
	email = the.primeagen@aol.com
	email = the.primeagen@aol.com
	email = the.primeagen@aol.com
	name = ThePrimeagen
	name = ThePrimeagen
	email = the.primeagen@aol.com
	name = ThePrimeagen
	email = the.primeagen@aol.com
	email = the.primeagen@aol.com
	name = ThePrimeagen
	name = ThePrimeagen
	email = the.primeagen@aol.com
	email = the.primeagen@aol.com
